.navbar-brand{
    color: white;
}
.navbar-nav .nav-link{
    color: white;
}

.mimage{
    display: grid;
    border-radius: 50%;
    place-items: center;
    
}
html, body {
    height: 100%;
    background-image: linear-gradient(rgb(0, 80, 219), rgb(57, 136, 255))
}
.centered{
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-social {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
}
.btn-primary {
    color: black;
    background-color: white;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

  